<div class="dropdown-menu col-lg-6 col-xs-12 col-md-6 ">
                        <div class="w100 miniCartTable scroll-pane">

<table>
                                {% set gesamtpreis = 0 %}
                                {% for product in cart %}
                                <tr class="miniCartProduct {{product.varref}}">
                                    <td style="width:20%"  rowspan="2" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="/images/product/nw/{{product.image.0.picName}}" style="margin: 10px; max-height: 90px;" class="img-responsive" alt="img">
                                        </a></div>
                                    </td>
                                    <td style="width:80%; vertical-align: top;">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> {{product.shortName}}</a></h4>
                                            <span class="size">{{product.articlenumber}}</span>
                                            <span class="size">{% for var in product.varData|reverse %} {% if var.attributeName is defined %}{{var.attributeName}}{% endif %}{% if var.attributeValue is defined %}{{var.attributeValue}} {{var.attributeUnit}} | {% endif %}{% endfor %}</span>
                                        </div>
                                    </td>
                                    </tr>
                                <tr class="tr-border miniCartAction {{product.varref}}">
                                    <td style="width:80%" class="delete"><a> <span>{{product.amount}} x {{product.price|number_format(2)}} € </span> <a id="{{product.varref}}" class="btn btn-danger btn-sm pull-right">Entfernen </a> <b class="pull-right" style="padding-right: 10px;"><span class="jSum">{{(product.amount * product.price)|number_format(2)}}</span> €  </b></td>
                                </tr>
                                {% set gesamtpreis = gesamtpreis + (product.amount * product.price) %}
                                {% endfor %}
                                {% if cart is empty %}
                                <tr class="miniCartProduct">
                                    <td style="width:20%">
                                          </td>
                                    <td style="width:60%">
                                        <div class="miniCartDescription">
                                            <h4> Noch keine Artikel im Warenkorb! </h4>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </table>
                         </div>
                        <!--/.miniCartTable-->                            
                        <div class="miniCartFooter text-right">
                            <h3 class="text-right subtotal"> Gesamt: <span id="jTotal">{{gesamtpreis}}</span> € </h3>
                            <a class="btn btn-sm btn-danger" href="/warenkorb"> <i class="fa fa-shopping-cart"> </i> Korb anzeigen </a> <a
                                class="btn btn-sm btn-primary" href="/account/checkout"> KASSE </a></div>
                        </div>
                    <!--/.dropdown-menu-->
                     
