{% extends "shopbase.html.twig" %}
{% block content %}

<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/account/my-account">Mein Konto</a></li>
                <li class="active"> Bestellsystem </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Bestellsystem </span></h1>

            <div class="row userInfo">
                <div class="col-lg-12">
                    <h2 class="block-title-2"> Hier finden Sie Ihre Artikel in verschiedenen Kategorien, die Sie sich im Vorfeld ausgewählt haben!</h2>
                </div>
            </div>
        </div>
    </div>    
    <div class="row">

        <!--left column-->

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="panel-group" id="accordionNo">
                <!--Category-->
                {% for category in categories %}
                    {% set anzahl = 0 %}
                    {% if category.children is defined %}
                    {% for subcategory in category.children %}
                        {% set anzahl = anzahl + subcategory.anzahl %} 
                    {% endfor %}
                    {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" href="#collapse{{category.id}}" class="collapseWill">
                            <span class="pull-left"> <i class="fa fa-caret-right"></i></span> {{category.catName}} </a></h4>
                    </div>
                    <div id="collapse{{category.id}}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked tree">
                                {% if category.children is defined %}
                                 {% for subcategory in category.children %}
                                    {% set anzahl2 = 0 %}
                                    {% if subcategory.children is defined %}
                                        {% for sub2category in subcategory.children %}
                                        {% set anzahl2 = anzahl2 + sub2category.anzahl %} 
                                    {% endfor %}  
                                    {% endif %}
                                 
                                <li class="dropdown-tree open-tree active"><a class="dropdown-tree-a" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'q': app.request.get('q')})|merge({'c': subcategory.id})) }}"> {{subcategory.catName}} </a>
                                    {% if subcategory.children is defined %}    
                                    <ul class="category-level-2 dropdown-menu-tree">
                                        {% for sub2category in subcategory.children %}
                                        <li class="dropdown-tree"><a class="dropdown-tree-a" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'q': app.request.get('q')})|merge({'c': sub2category.id})) }}">{{sub2category.catName}}  </a>           
                                        </li>
                                        {% endfor %}    
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endfor %}
                                {% endif %}   
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/Category menu end-->
                {% endfor %}
            </div>
        </div>

        <!--right column-->
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="w100 clearfix category-top">
                <h2> SUCHEN </h2>
            </div>
            <!--/.category-top-->
            <form action="{{ app.request.getBaseUrl ~ app.request.getPathInfo }}" method="get">
            <div class="form-group">
                <div class="input-group input-group-sm"> 
                    <div class="icon-addon addon-sm">
                        <input type="text" name="q" placeholder="Suchbegriff eingeben" class="form-control">
                        <label for="suche" class="glyphicon glyphicon-search" rel="tooltip" title="suche"></label>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Suchen!</button>
                    </span>
                </div>
            </div>
            </form>
            <div class="w100 productFilter clearfix">

                <div class="pull-right ">
                    <div class="change-order pull-right">
                        <select class="form-control" name="orderby">
                            <option selected="selected">Sortierung</option>
                            <option value="price">Preis aufsteigend</option>
                            <option value="price-desc">Preis absteigend</option>
                        </select>
                    </div>
                    <div class="change-view pull-right"><a href="#" title="Grid" class="grid-view"> <i
                            class="fa fa-th-large"></i> </a> <a href="#" title="List" class="list-view "><i
                            class="fa fa-th-list"></i></a></div>
                </div>
            </div>
            <!--/.productFilter-->
            <div class="row  categoryProduct xsResponse clearfix">
                {% for article in articles %}
                <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
                    <div class="product">
                        <a id="{{article.id}}" class="add-fav tooltipHere">
                            <i class="glyphicon glyphicon-heart"></i>
                        </a>

                        <div class="image">
                            <a href="/productedit?q={{article.articleNumber}}"><img src="/images/product/nw/{{article.images.0.picName}}" alt="img"
                                                                class="img-responsive"></a>

                        </div>
                        <div class="description">
                            <div class="shortname">
                                <h4><a href="/productedit?q={{article.articleNumber}}">{{article.shortName}}</a></h4>
                            </div>
                            <div class="grid-description">
                                <p>{{article.shortDescription}} </p>
                            </div>
                            <div class="list-description">
                                <p> {{article.longDescription}}  </p>
                            </div>
                        </div>
                                <div class="price"><span>ab {{article.showedprice|number_format(2, ',', '.')}} € </span></div>
                        <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                                class="glyphicon glyphicon-shopping-cart"> </i> In den Korb </span> </a></div>
                    </div>
                </div>
                <!--/.item-->
                {% endfor %}
            </div>
            <div class="gap"></div>
            <!--/.categoryProduct || product content end-->
            <div class="w100 categoryFooter">
                {% if totalpages > 1 %}
                <div class="pagination pull-left no-margin-top">
                    <ul class="pagination no-margin-top">
                        <li><a href="/">«</a></li>
                        {% set pageIt = app.request.get('p') - 3 %}
                        {% set pageItBase = 1 %}
                        {% set maxPage = 5 %}
                        {% if totalpages < 5 %}
                            {% set maxPage = totalpages %}
                        {% endif %}
                        {% for i in range(1, maxPage) %} 
                        {% if app.request.get('p') <= 3%}
                            {% set pageItBase = i %}
                        <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'p': pageItBase})) }}">{{pageItBase}}</a></li>
                        {% endif %}
                        {% if app.request.get('p') >= 4 and pageIt < totalpages%}
                            {% set pageIt = (pageIt + 1) %}
                        <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'p': pageIt})) }}">{{pageIt}}</a></li>
                        {% endif %}
                        {% endfor %}
                        <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'p': totalpages})) }}">»</a></li>
                    </ul>
                </div>
                <div class="pull-right pull-right col-sm-4 col-xs-12 no-padding text-right text-left-xs">
                    {% if app.request.get('p') is empty %}
                        {% set currPage = 1 %}
                    {% endif %}
                    {% if not app.request.get('p') is empty %}
                        {% set currPage = app.request.get('p') %}
                    {% endif %}
                    <p>Zeige Seite {{ currPage }} von {{totalpages}} Seiten</p>
                </div>
                {% endif %}        

<div class="gap"></div>

                <div class="col-lg-12 clearfix">
                    <ul class="pager">
                        <li class="previous pull-right"><a href="/shop"> <i class="fa fa-home"></i> Zum Shop </a>
                        </li>
                        <li class="next pull-left"><a href="/account/my-account"> &larr; Zurück zu meinem Konto</a></li>
                    </ul>
                </div>

            </div>
            <!--/row end-->

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/.row-->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}