{% extends "shopbase.html.twig" %}
    {% block js_top %}
    {% endblock %}

{% block content %}
<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/account/bestellsystem">Bestellsystem</a></li>
                {% for category in categoryPath %}
                <li><a href="/account/bestellsystem/?={{category.id}}">{{category.catName}}</a></li>
                {% if category.children is defined %}
                {% for childcategory in category.children %}
                <li><a href="/account/bestellsystem?c={{childcategory.id}}">{{childcategory.catName}}</a></li>
                {% if childcategory.children is defined %}
                {% for grandchildcategory in childcategory.children %}
                <li><a href="/account/bestellsystem?c={{grandchildcategory.id}}">{{grandchildcategory.catName}}</a></li>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row transitionfx">

        <!-- left column -->
        <div class="col-lg-6 col-md-6 col-sm-6 productImageZoom">
            <!-- product Image and Zoom -->

            <div class="main-image sp-wrap col-lg-12 no-padding style3 prodimage">
                {% for image in images %}
                <a href="/images/product/nw/{{ image.picName }}" id="thumbimg{{image.imgCrc32}}"><img
                    src="/images/product/nw/{{ image.picName }}" class="img-responsive" {% if image.attributeRef == 1 %} title="{{image.attributeValue}}" {% endif %} alt="img"></a>
                {% endfor %}
            </div>

        </div>
        <!--/ left column end -->

        <!-- right column -->
        <div class="col-lg-6 col-md-6 col-sm-5">
            <h1 class="product-title"> {{article.shortName}} </h1>

            <div class="product-price"><span class="price-sales"> {% if priceDiff == true %}ab{% endif %} {{variants.0.price|number_format(2,',','.')}} €</span></div>
            <div class="details-description">
                <p>{{article.shortDescription}} </p>
            </div>
            <div class="cart-actions">

                <div style="clear:both"></div>
                <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> Auf Lager</h3>

                <h3 class="incaps"><i class="glyphicon glyphicon-lock"></i> Sicheres Bestellen</h3>
            </div>
            <!--/.cart-actions-->
            <div class="productThumb"></div>

        </div>
        <!--/ right column end -->
        <div style="clear:both"></div>
        <div class="gap"></div>
        <div class="product-tab w100 clearfix">
                <ul class="nav nav-tabs">
                    {% if variants %}
                    <li class="active"><a href="#variants" data-toggle="tab">Varianten</a></li>
                    <li><a href="#details" data-toggle="tab">Details</a></li>
                    {% else %}
                    <li><a class="active" href="#details" data-toggle="tab">Details</a></li>
                    {% endif %}
                    {% if attachments %}
                    <li><a href="#downloads" data-toggle="tab">Downloads</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_MODERATOR') %}
                    <li><a href="#bestellsystem" data-toggle="tab">Bestellsystem</a></li>
                    {% endif %}
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    {% if variants %}
                    <div class="tab-pane active" id="variants">
                        <form method="post" action="" name="addToCart">
                        <div class="table-responsive">
                            <table class="table" id="varTable">
                                <tr>
                                    <th>Art-Nr</th>
                                    {% for title in varTitle %}
                                    <th>{{title.attrName}}</th>
                                    {% endfor %}
                                    <th>Preis</th>
                                    <th>Menge</th>
                                    <th>VPE</th>
                                    <th><i class="fa fa-pencil"></i></th>
                                </tr>
                                {% for variant in variants %}
                                <tr>
                                    <td>{{variant.supplierArticleNumber}} {% if variant.customArtnr is defined %} <br /> <small>{{variant.customArtnr}}</small> {% endif %}</td>
                                    {% for values in variant.variantvalues %}
                                    <td>{{values.attributeValue}} {{values.attributeUnit}}</td>
                                    {% endfor %}
                                    <td>{{variant.price|number_format(2,',','.')}} €</td>
                                    <td><input hidden value="{{variant.id}}" name="var[{{variant.id}}][]" /><input hidden value="{{variant.custdata.0.id}}" name="var[{{variant.id}}][]" /><input type="number" class="form-control" name="var[{{variant.id}}][]" id="amount{{variant.id}}" style="max-width: 75px;" min="0" step="{{variant.vpe}}"/></td>
                                    <td>{{variant.vpe}}</td>
                                    <td><a data-toggle="modal" data-target="#myModal{{variant.id}}" class="positionstext" id="{{variant.id}}"> <i id="comm{{variant.id}}" class="fa fa-pencil"></i> </a>
                                    <div class="modal fade" id="myModal{{variant.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                              <h4 class="modal-title">Positionstext hinzufügen</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Sie können hier einen Positionstext hinzufügen!</p>
                                                <textarea style="width:100%; height:100%; min-height: 200px; resize: none;" class="form-control postextarea{{variant.id}}" placeholder="Geben Sie hier Beispielsweise den Namen eines Mitarbeiters oder eine Kostenstelle ein! z.B. Name: Max Mustermann" name="var[{{variant.id}}][]" id="postextarea{{variant.id}}"></textarea>
                                            </div>
                                            <div ng-cloak class="modal-footer">
                                              <button type="button" class="btn btn-danger" data-dismiss="modal">Speichern</button>
                                            </div>
                                          </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal --></td>
                                </tr>
                                {% endfor %}
                                </table>
                        </div>
                        <div class="cart-actions">
                            <div class="addto pull-right">
                                <button type="submit" class="button btn-cart cart first"
                                        title="In den Warenkorb legen" type="button">In den Korb
                                </button>
                            </div>
                        </div>
                        <!--/.cart-actions-->
                        </form>
                    </div>
                   {% endif %}
                   {% if variants %}
                    <div class="tab-pane" id="details">
                   {% else %}
                    <div class="tab-pane active" id="details">
                   {% endif %}
                        {{article.longDescription|raw}}
                    </div>
                    {% if attachments %}
                    <div class="tab-pane" id="downloads">
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Link</th>
                            </tr>
                            {% for attachment in attachments %}
                            <tr>
                                <td>{{attachment.attachmentName}}</td>
                                <td><a href="{{attachment.path}}">Download</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                   {% endif %}
                {% if is_granted('ROLE_MODERATOR') %}
                    <div class="tab-pane" id="bestellsystem">
                          <h2>Zum Bestellsystem hinzufügen</h2>
                        <p>Der Artikel wird der gewählten Kategorie sofort hinzugefügt! Außerdem können Sie Ihre eigene Artikelnummer hinzufügen, um den Artikel schneller zu finden.</p>
                        <form name="selectCatForm" method="get" action="/account/add">
                            <label>Ihre Artikelnummer</label>
                            <input name="custom" id="varRef" placeholder="Ihre Artikelnummer" />
                            <input name="varRef" id="varRef" hidden="hidden" value="{{article.id}}" />
                        <select name="catref" id="catref" placeholder="Wählen Sie eine Kategorie">
                            <option value="" disabled selected>Wählen Sie eine Kategorie</option>
                        {% for cat in categories %}
                            <optgroup label="{{cat.catName}}">
                            {% if cat.children is defined %}
                            {% for child1 in cat.children %}
                                <option class="catlvl1" value="{{child1.id}}">{{child1.catName}}</option>
                                {% if child1.children is defined %}
                                {% for child2 in child1.children %}
                                <option class="catlvl2" value="{{child2.id}}"> ->  {{child2.catName}}</option>
                                {% endfor %}
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                            </optgroup>
                        {% endfor %}
                        </select>
                        <button class="btn btn-danger">Speichern</button>
                        <div class="table-responsive">
                            <table class="table" id="varTableBestellsystem">
                                <tr>
                                    <th>Art-Nr</th>
                                    {% for title in varTitle %}
                                    <th>{{title.attrName}}</th>
                                    {% endfor %}
                                    <th>Ihre Artikelnummer</th>
                                    <th><i class="fa fa-plus"></i></th>
                                </tr>
                                {% for variant in variants %}
                                <tr>
                                    <td>{{variant.supplierArticleNumber}} {% if variant.customArtnr is defined %} <br /> <small>{{variant.customArtnr}}</small> {% endif %}</td>
                                    {% for values in variant.variantvalues %}
                                    <td>{{values.attributeValue}} {{values.attributeUnit}}</td>
                                    {% endfor %}
                                    <td><input name="custom[{{variant.id}}]['articleNumber']" id="varRef" placeholder="Ihre Artikelnummer" /></td>
                                    <td><input type="checkbox" name="custom[{{variant.id}}]['checked']" /></td>
                                </tr>
                                {% endfor %}
                                </table>
                        </div>
                        </form>
                    </div>
                {% endif %}
                <!-- /.tab content -->
                </div>
            </div>
            <!--/.product-tab-->

    </div>
    <!--/.row-->


    <div style="clear:both"></div>
</div>
<!-- /main-container -->

<div class="gap"></div>
{% if submitted == true %}
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Artikel hinzugefügt</h4>
      </div>
      <div class="modal-body">
          <h2>Warenkorb</h2>
        <p>Die ausgewählten Artikel wurden dem Warenkorb hinzugefügt</p>
      </div>
      <div ng-cloak class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Weiter einkaufen</button>
        {% if is_granted('ROLE_OCIUSER') %}
            <a class="btn btn-sm btn-primary" href="/oci/punchout"> SRM Transfer </a>
            {% else %}

        <a href="/account/checkout"><button type="button" class="btn btn-danger">Zur Kasse</button></a>
        {% endif %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
{% endblock %}
{% block js_bottom %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>

<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- include jqueryCycle plugin -->
<script src="/assets/js/jquery.cycle2.min.js"></script>
<!-- include easing plugin -->
<script src="/assets/js/jquery.easing.1.3.js"></script>

<!-- include  parallax plugin -->
<script type="text/javascript" src="/assets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include carousel slider plugin  -->
<script src="/assets/js/owl.carousel.min.js"></script>

<script src='/assets/js/jquery.zoom.js'></script>
<script>
    $(document).ready(function () {

        //$('.swipebox').zoom();

        $('#zoomContent').zoom();
        $(".zoomThumb a").click(function () {
            var largeImage = $(this).find("img").attr('data-large');
            $(".zoomImage1").attr('src', largeImage);
            $(".zoomImg").attr('src', largeImage);
            $(".gall-item").attr('href', largeImage);

        });


        $('.gall-item').magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });

        $("#zoomContent").click(function () {
            //alert();
            $('.gall-item').trigger('click');
        });

        // CHANGE IMAGE MODAL THUMB

        $(".product-thumbList a").click(function () {
            var largeImage = $(this).find("img").attr('data-large');
            $(".mainImg").attr('src', largeImage);

        });
        {% if submitted == true %}
        $(window).load(function(){
            $('#cartModal').modal('show');
        });
        {% endif %}
    });
</script>

<script src="/assets/plugins/magnific/jquery.magnific-popup.min.js"></script>


<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js"></script>

<!-- include checkRadio plugin //Custom check & Radio  -->
<script type="text/javascript" src="/assets/js/ion-checkRadio/ion.checkRadio.min.js"></script>

<!-- include grid.js // for equal Div height  -->
<script src="/assets/js/grids.js"></script>

<!-- include carousel slider plugin  -->
<script src="/assets/js/owl.carousel.min.js"></script>

<!-- jQuery minimalect // custom select   -->
<script src="/assets/js/jquery.minimalect.min.js"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="/assets/js/bootstrap.touchspin.js"></script>

<!-- include smoothproducts // product zoom plugin  -->
<script type="text/javascript" src="/assets/js/smoothproducts-thumb.js"></script>

<!-- include custom script for site  -->
<script src="/assets/js/script.js"></script>

<script src="/assets/plugins/rating/bootstrap-rating.min.js"></script>
<script>
    $(function () {

        $('.rating-tooltip-manual').rating({
            extendSymbol: function () {
                var title;
                $(this).tooltip({
                    container: 'body',
                    placement: 'bottom',
                    trigger: 'manual',
                    title: function () {
                        return title;
                    }
                });
                $(this).on('rating.rateenter', function (e, rate) {
                    title = rate;
                    $(this).tooltip('show');
                })
                        .on('rating.rateleave', function () {
                            $(this).tooltip('hide');
                        });
            }
        });

    });
</script>
{% endblock %}
{% block js_special %}
<script>
    $(document).ready(function () {

        $('#varTable').ddTableFilter();

        var session;
        $.ajaxSetup({cache: false});
        $.get('/getcartsessiondata', function (data) {
            session = data;
        });
        var activeTextarea;
        $(".positionstext").click(function(event) {
            activeTextarea = $(this).attr('id');
          });

        $('textarea').change(function () {
            if( $(this).val() ) {
                $('#comm'+activeTextarea).css("color", "#cc0d17");
            } else {
                $('#comm'+activeTextarea).css("color", "#1a2e50");
            }
        });

            function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };


        var focusOn = getUrlParameter('focusOn');
        $('.sp-current').removeClass('sp-current');
        $('#thumbimg4173').addClass('sp-current');            function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };


        var focusOn = getUrlParameter('focusOn');

        $('#thumbimg'+focusOn).click();
    });

</script>
<!-- include custom table filter  -->
<script src="/assets/js/ddtf.js"></script>
{% endblock %}
