{% extends "shopbase.html.twig" %}
{% block content %}

<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active"> Anmeldung</li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Anmeldung</span></h1>

            <div class="row userInfo">

                <div class="col-xs-12 col-sm-12">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('alert') %}
                    <div class="alert alert-danger">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData) }}</div>
                {% endif %} 
                <form role="form" action="{{ path('orth_security_logincheck') }}" method="post" class="logForm">
                        <div class="form-group">
                            <label>Emailadresse</label>
                            <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Emailadresse">
                        </div>
                        <div class="form-group">
                            <label>Passwort</label>
                            <input type="password" id="password" name="_password" class="form-control" placeholder="Passwort">
                        </div>
                        <div class="form-group">
                            <p><a title="Passwort vergessen" href="/passwort-vergessen">Passwort vergessen? </a></p>
                        </div>
                        <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i> Einloggen</button> <a href="/signup" class="btn btn-default"><i class="fa fa-sign-in"></i> Noch kein Kunde?</a>
                    </form>
                </div>
            </div>
            <!--/row end-->

        </div>

        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}