{% extends "shopbase.html.twig" %}
{% block content %}


<div class="parallaxOffset no-padding fixedContent contact-intro">
    <div class="w100 map">
        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2376.848895334726!2d10.341691416118572!3d53.43540997999778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41639941a5d9c52d%3A0x8f8a170ef54d2949!2sUTE+ORTH+Bekleidung+%26+Technik+GmbH+%26+Co.+KG!5e0!3m2!1sde!2sde!4v1461680521916">
        </iframe>
    </div>
</div>
<!--/.contact-intro || map end-->

<div class="wrapper whitebg contact-us">
    <div class="container main-container ">
        <div class="row innerPage">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="row userInfo">

                    <div class="col-xs-12 col-sm-12">

                        <h1 class="title-big text-center section-title-style2">
                            <span> Kontakt </span>
                        </h1>
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-3">
                                <h3><i class="fa fa-map-marker"></i> Adresse</h3>
                                <p><strong>Basis Orth GmbH</strong>
                                    <br>Hermsdorfer Straße 1
                                    <br>21502 Geesthacht
                                    <br>Deutschland
                                </p>
                            </div>
                            <!-- /.col-sm-3 -->
                            <div class="col-sm-3">
                                <h3><i class="fa fa-phone"></i> Kontakt</h3>
                                <p><strong>Tel.: </strong>04152 / 87 87 - 0 
                                    <br><strong>Fax.: </strong>04152 / 87 87 - 87
                                    <br><strong>Mail: </strong><a href="mailto:info@basis-orth.de">info@basis-orth.de</a>
                                </p>
                            </div>
                            <!-- /.col-sm-3 -->
                            <div class="col-sm-3">
                            </div>
                            <!-- /.col-sm-3 -->
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                                {% endfor %}
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="firstname">Vorname</label>
                                                {{ form_row(form.firstname) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="lastname">Nachname</label>
                                                {{ form_row(form.lastname) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="email">E-Mail</label>
                                                {{ form_row(form.email) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="subject">Betreff</label>
                                                {{ form_row(form.subject) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="message">Nachricht</label>
                                                {{ form_row(form.message) }}
                                            </div>
                                        </div>

                                        <div class="col-sm-12 text-center">
                                            {{ form_row(form.save) }}

                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>


                </div>
                <!--/.row  ||  -->

            </div>
        </div>
        <!--/row || innerPage end-->
        <div style="clear:both"></div>
    </div>
    <!-- ./main-container -->
    <div class="gap"></div>
</div>
<!-- /main-container -->

{% endblock %}