{% extends "shopbase.html.twig" %}
{% block content %}

<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active"> Registrierung</li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="section-title-inner"><span><i class="fa fa-user-plus"></i> Registrierung</span></h1>

            <div class="row userInfo">
                {% for flashMessage in app.session.flashbag.get('warning') %}
                    <div class="alert alert-warning">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <div class="col-xs-12 col-sm-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                    <div class="col-xs-12 col-sm-3">
                        
                        <div class="form-group required">
                            <label for="InputFirstName">Vorname <sup>*</sup></label>
                            {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder' : 'Vorname'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputLastName">Nachname <sup>*</sup></label>
                            {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder' : 'Nachname'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputStreet">Straße <sup>*</sup></label>
                            {{ form_widget(form.street, { 'attr': {'class': 'form-control', 'placeholder' : 'Straße'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputZipcode">Postleitzahl <sup>*</sup></label>
                            {{ form_widget(form.zipcode, { 'attr': {'class': 'form-control', 'placeholder' : 'Postleitzahl'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputCity">Ort <sup>*</sup></label>
                            {{ form_widget(form.city, { 'attr': {'class': 'form-control', 'placeholder' : 'Ort'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputCountry">Land <sup>*</sup></label>
                            {{ form_widget(form.country, { 'attr': {'class': 'form-control', 'placeholder' : 'Land'} }) }}
                        </div>
                    </div> 
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group required">
                            <label for="InputCompanyName1">Firma</label>
                            {{ form_widget(form.companyName1, { 'attr': {'class': 'form-control', 'placeholder' : 'Firma (optional)'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputCompanyName2">Firma2</label>
                            {{ form_widget(form.companyName2, { 'attr': {'class': 'form-control', 'placeholder' : 'Firma 2 (optional)'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputCompanyName2">Firma3</label>
                            {{ form_widget(form.companyName3, { 'attr': {'class': 'form-control', 'placeholder' : 'Firma 3 (optional)'} }) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group required">
                            <label for="InputEmail">E-Mail <sup>*</sup></label>
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder' : 'E-Mail'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputName">Passwort <sup>*</sup> </label>
                            <span style="color: red;">{{ form_errors(form.newPassword.first) }}</span>
                            {{ form_widget(form.newPassword.first, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputName">Wiederholen <sup>*</sup> </label>
                            {{ form_errors(form.newPassword.second) }}
                            {{ form_widget(form.newPassword.second, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{form_widget(form.save, { 'label': 'Registrierung abschließen', 'attr': {'class':'btn btn-primary'}} ) }}
                        </div>
                    </div>       
                {{ form_end(form) }}        
                </div>
            </div>
            <!--/row end-->

        </div>

        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}