{% extends "adminbase.html.twig" %}
{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Artikel</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{form_widget(form.save, { 'attr': {'class':'btn btn-primary'}} ) }}
                            <a href="/admin/deletearticle/{{id}}" >Artikel löschen</a>
                        </div>
                        <div class="panel-body">	                    
                            <div class="col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label for="InputCompany">Artikelname</label>
                                    {{ form_widget(form.shortName, { 'attr': {'class': 'form-control', 'placeholder' : 'Artikelname'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="InputCompany2">Kurzbeschreibung</label>
                                    {{ form_widget(form.shortDescription, { 'attr': {'class': 'form-control', 'placeholder' : 'Kurzbeschreibung'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="InputCompany3">Artikeltext</label>
                                    {{ form_widget(form.longDescription, { 'attr': {'class': 'form-control', 'rows' : '4', 'style' : 'width: 100%;min-width: 100%; max-width: 100%;', 'placeholder' : 'Artikeltext'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="InputCompany3">Kategorie</label>
                                    {{ form_widget(form.category, { 'attr': {'class': 'form-control select2-category', 'rows' : '4',}  }) }}       
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.panel panel-default -->
                </div>
                <!-- /.col-lg-6" -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        </div>
                        <div class="panel-body">
                            {% for image in images %}
                             <div class="col-lg-3 col-sm-4 col-xs-6">
                                <div class="image">
                                    <a title="Bild {{loop.index}}" href="#">
                                        <img class="thumbimg img-responsive" id="{{image.id}}" src="/images/product/nw/{{image.picName}}">
                                    </a>
                                </div>
                            </div>
                            {% endfor %} 
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                            {{ form_widget(form.attachment) }}
                            </div>
                            <div class="col-lg-6">
                                <label for="InputCompany3">Kundenspezifisch?</label>
                                {{ form_widget(form.customized, { 'attr': {'class': 'form-control', 'placeholder' : 'Kundenspezifisch'} }) }}
                            </div>
                        </div>
                            <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.panel panel-default -->
                <!-- /.col-lg-6" -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        </div>
                            <div class="panel-body">
                                <div class="form-group table-responsive">
                                    <label for="InputCompany3">Varianten</label> <a data-toggle="modal" style="cursor: pointer;" data-target="#newAttr" class="create"> <i
                                            class="fa fa-plus-circle"></i>Neues Attribut</a> | <a href="/admin/fixattr/{{ app.request.get('id') }}">Varianten reparieren</a>  | <a href="/admin/add-articlevar/{{ app.request.get('id') }}">Varianten hinzufügen</a>
                                    <table class="table">
                                        <tr>
                                            <th>
                                                Artikelnummer
                                            </th>
                                            <th>
                                                Preis
                                            </th>
                                            {% for attrName in attrNames %}
                                            <th colspan="2">
                                                {{attrName.attributeName}} <a data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-danger delete" id="{{attrName.id}}"> <i
                                                        class="fa fa-minus-circle"></i> </a>
                                            </th>
                                            {% endfor %}
                                            <th>
                                                Preiseinheit
                                            </th>
                                            <th>
                                                Mengeneinheit
                                            </th>
                                            <th>
                                                Mindestabn.
                                            </th>
                                            <th>
                                                VPE
                                            </th>
                                            <th>
                                                VPE Paket
                                            </th>
                                            <th>
                                                VPE Palette
                                            </th>
                                            <th>
                                                Keywords
                                            </th>
                                        </tr>
                                    {% for variant in form.variants %}
                                        <tr>
                                            <td>
                                                {{ form_widget(variant.supplierArticleNumber, { 'attr': {'class': 'form-control', 'rows' : '4', 'style' : 'width: 100%;min-width: 100%; max-width: 100%;', 'placeholder' : 'Artikelnummer'} }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(variant.price, { 'attr': {'class': 'form-control', 'rows' : '4', 'style' : 'width: 100%;min-width: 100%; max-width: 100%;', 'placeholder' : 'Preis'} }) }}
                                            </td> 
                                                {% for variantvalue in variant.variantvalues %}
                                                    <td>
                                                        {{ form_widget(variantvalue.attributeValue, { 'attr': {'class': 'form-control', 'style' : 'width: 100px;min-width: 100%; max-width: 100%;', 'placeholder' : 'Attributwert'} }) }}
                                                    </td>
                                                    <td>
                                                        {{ form_widget(variantvalue.attributeUnit, { 'attr': {'class': 'form-control', 'style' : 'width: 100%;min-width: 100%; max-width: 100%;', 'placeholder' : 'Einheit'} }) }}
                                                    </td>
                                                    {% endfor %}
                                            <td>
                                                {{ form_widget(variant.priceUnit, { 'attr': {'class': 'form-control', 'rows' : '4', 'placeholder' : 'Preis'} }) }}
                                            </td>  
                                            <td>
                                                {{ form_widget(variant.amountUnit, { 'attr': {'class': 'form-control', 'rows' : '4', 'placeholder' : 'Preis'} }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(variant.minOrder, { 'attr': {'class': 'form-control', 'rows' : '4', 'placeholder' : 'Preis'} }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(variant.vpe, { 'attr': {'class': 'form-control', 'rows' : '4',  'placeholder' : 'Preis'} }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(variant.vpePackage, { 'attr': {'class': 'form-control', 'rows' : '4', 'placeholder' : 'Preis'} }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(variant.vpePalette, { 'attr': {'class': 'form-control', 'rows' : '4', 'placeholder' : 'Preis'} }) }}
                                            </td>
                                            <td>                                    {{ form_widget(variant.attributes, { 'attr': {'class': 'form-control', 'rows' : '4', 'style' : 'width: 100%;min-width: 100%; max-width: 100%;', 'placeholder' : 'Artikeltext'} }) }}
                                                <td>
                                    {% endfor %}                
                                        </tr>   
                                    </table>
                                </div>
                            </div>

                        {{ form_end(form) }}
                    </div>
                        <!-- /.panel-body -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Attribut löschen</h4>
                      </div>
                      <div class="modal-body">
                          <h2>Achtung!</h2>
                        <p>Die Attribute werden unwiderruflich gelöscht! Damit werden alle beinhalteten Daten ebenfalls gelöscht!</p>
                      </div>
                      <div ng-cloak class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                        <a id="submitDelete" href="#"><button type="button" class="btn btn-danger">Löschen</button></a>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="modal fade" id="newAttr" tabindex="-1" role="dialog" aria-labelledby="newAttr" aria-hidden="true">
                  <div class="modal-dialog">
                    <form action="/admin/addattr/{{ app.request.get('id') }}" method="get">  
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Attribut hinzufügen</h4>
                      </div>
                      <div class="modal-body">
                          <h2>Neues Attribut</h2>
                        <p>Es wird ein neues Attribut für alle Varianten erstellt!</p>
                            <select name="attrId" class="selectpicker" multiple data-live-search="true">
                                {% for attr in allAttrNames %}
                                <option value="{{attr.id}}">{{attr.attributeName}}</option>
                                {% endfor %}
                            </select>
                      </div>
                      <div ng-cloak class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                        <button type="submit" class="btn btn-info">Erstellen</button>
                      </div>    
                    </div><!-- /.modal-content -->
                    </form>
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- modal start -->
                <div tabindex="-1" class="modal fade" id="imgModal" role="dialog">
                <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                              <button class="close" type="button" data-dismiss="modal">×</button>
                              <h3 class="modal-title imgModalTitle">Heading</h3>
                      </div>
                      <div class="modal-body imgModalbody">

                      </div>
                      <div class="modal-footer">
                              <button class="btn btn-default" data-dismiss="modal">Close</button>
                              <a id="submitImgDelete" href="#"><button type="button" class="btn btn-danger">Löschen</button></a>
                      </div>
                 </div>
                </div>
              </div>
              <!-- /.modal -->
{% endblock %}

{% block js %}
<!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".select2-attrName").select2();
  $(".select2-category").select2();
});
</script>
<script type="text/javascript">
        $(document).ready(function() {
            $(".delete").click(function(e) {
                var attrId = e.target.id; 
                var artId = {{ app.request.get('id') }};
                $("#submitDelete").attr('href', "/admin/deleteattr/"+artId+"/"+attrId);
           });
           $('.thumbimg').click(function(e){
                var artId = {{ app.request.get('id') }};
                var imgId = e.target.id;
                $('.imgModalbody').empty();
                $("#submitImgDelete").attr('href', "/admin/deleteimg/"+artId+"/"+imgId);
                var title = $(this).parent('a').attr("title");
                $('.imgModalTitle').html(title);
                $($(this).parents('div').html()).appendTo('.imgModalbody');
                $('#imgModal').modal({show:true});

            });
        });      
</script>
{% endblock %}