{% extends "shopbase.html.twig" %}
{% block content %}

<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/account/my-account">Mein Konto</a></li>
                <li class="active"> Neue Adresse </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">

            <h1 class="section-title-inner"><span><i class="fa fa-map-marker"></i> Neue Adresse anlegen </span></h1>

            <div class="row userInfo">


                <div class="col-lg-12 col-xs-12">
                    <h2 class="block-title-2"> Zum Anlegen einer neuen Adresse, füllen Sie bitte das unten stehende Formular aus. </h2>

                    <p class="required"><sup>*</sup> Pflichtfeld</p>
                </div>

                {{ form_start(form) }}
                {{ form_errors(form) }}	                    
                    <div class="col-xs-12 col-sm-6">
                        
                        <div class="form-group required">
                            <label for="InputCompany">Firma <sup>*</sup></label>
                            {{ form_widget(form.companyName1, { 'attr': {'class': 'form-control', 'placeholder' : 'Firma'} }) }}
                        </div>
                        <div class="form-group">
                            <label for="InputCompany2">Firma (Zeile 2)</label>
                            {{ form_widget(form.companyName2, { 'attr': {'class': 'form-control', 'placeholder' : 'Firma 2'} }) }}
                        </div>
                        <div class="form-group">
                            <label for="InputCompany3">Firma (Zeile 3)</label>
                            {{ form_widget(form.companyName3, { 'attr': {'class': 'form-control', 'placeholder' : 'Firma 3'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputName">Vorname <sup>*</sup> </label>
                            {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder' : 'Vorname'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputLastName">Nachname <sup>*</sup> </label>
                            {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder' : 'Nachname'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputAddress">Adresse <sup>*</sup> </label>
                            {{ form_widget(form.street, { 'attr': {'class': 'form-control', 'placeholder' : 'Adresse'} }) }}
                        </div>
                        <div class="form-group">
                            <label for="InputAddress2">Adresse (Zeile 2) </label>
                            {{ form_widget(form.street2, { 'attr': {'class': 'form-control', 'placeholder' : 'Adresse (Zeile 2)'} }) }}
                        </div>

                        <div class="form-group required">
                            <label for="InputCity">Stadt <sup>*</sup> </label>
                            {{ form_widget(form.city, { 'attr': {'class': 'form-control', 'placeholder' : 'Stadt'} }) }}
                        </div>
                        <div class="form-group required">
                            <label for="InputZip">Postleitzahl <sup>*</sup> </label>
                            {{ form_widget(form.zipcode, { 'attr': {'class': 'form-control', 'placeholder' : 'Postleitzahl'} }) }}
                        </div>


                        <div class="form-group required">
                            <label for="InputCountry">Land <sup>*</sup> </label>
                            {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                        </div>


                    </div>


                    <div class="col-xs-12 col-sm-6">

                        <div class="form-group required">
                            <label for="addressAlias">Vergeben Sie hier einen Adresstitel (z.B. "Lieferadresse")<sup>*</sup></label>

                            {{ form_widget(form.addressTitle, { 'attr': {'class': 'form-control', 'placeholder' : 'Adresstitel'} }) }}

                        </div>


                    </div>

                    <div class="col-lg-12 col-xs-12 clearfix">
                        {{form_widget(form.save, { 'attr': {'class':'btn btn-primary'}} ) }}
                    </div>

                {{ form_end(form) }}


                <div class="col-lg-12 col-xs-12  clearfix ">

                    <ul class="pager">
                        <li class="previous pull-right"><a href="/shop"> <i class="fa fa-home"></i> Zum Shop </a>
                        </li>
                        <li class="next pull-left"><a href="/account/my-account"> &larr; Zurück zu meinem Konto</a></li>
                    </ul>
                </div>


            </div>
            <!--/row end-->


        </div>
        <div class="col-lg-3 col-md-3 col-sm-5">
        </div>


    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}