{% extends "shopbase.html.twig" %}
{% block content %}

<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/account/my-account">Mein Konto</a></li>
                <li><a href="/account/config">Konfiguration</a></li>
                <li><a href="/account/config/categories">Kategorien</a></li>
                <li class="active"> Neue Kategorie </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">

            <h1 class="section-title-inner"><span><i class="fa fa-map-marker"></i> Neue Kategorie anlegen </span></h1>

            <div class="row userInfo">


                <div class="col-lg-12 col-xs-12">
                    <h2 class="block-title-2"> Zum Anlegen einer neuen Kategorie, füllen Sie bitte das unten stehende Formular aus. </h2>

                    <p class="required"><sup>*</sup> Pflichtfeld</p>
                </div>

                {{ form_start(form) }}
                {{ form_errors(form) }}	                    
                    <div class="col-xs-12 col-sm-6">
                        
                        <div class="form-group required">
                            <label for="InputCompany">Kategorienname <sup>*</sup></label>
                            {{ form_widget(form.categoryName, { 'attr': {'class': 'form-control', 'placeholder' : 'Name der Kategorie'} }) }}
                        </div>

                    </div>

                    <div class="col-lg-12 col-sm-6 clearfix">
                        {{form_widget(form.save, { 'attr': {'class':'btn btn-primary'}} ) }}
                    </div>

                {{ form_end(form) }}


                <div class="col-lg-12 col-xs-12  clearfix ">

                    <ul class="pager">
                        <li class="previous pull-right"><a href="/shop"> <i class="fa fa-home"></i> Zum Shop </a>
                        </li>
                        <li class="next pull-left"><a href="/account/my-account"> &larr; Zurück zu meinem Konto</a></li>
                    </ul>
                </div>


            </div>
            <!--/row end-->


        </div>
        <div class="col-lg-3 col-md-3 col-sm-5">
        </div>


    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /wrapper -->

<div class="gap"></div>

{% endblock %}