{% extends "shopbase.html.twig" %}
    {% block js_top %}       
    {% endblock %}

{% block content %}
<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/account/checkout">Kasse</a></li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <div class="w100 clearfix">
                        <ul class="orderStep orderStepLook2">
                            <li><a href="#"> <i class="fa fa-envelope "></i> <span> Rechnungsadresse</span>
                            </a></li>
                            <li><a href="#"> <i class="fa fa fa-map-marker  "></i>
                                <span> Lieferadresse </span></a></li>
                            <li class="active"><a href="#"><i class="fa fa-truck "> </i><span>Versandart</span> </a></li>
                            <li><a href="#"><i class="fa fa-money  "> </i><span>Zahlungsart</span> </a></li>
                            <li><a href="#"><i class="fa fa-check-square "> </i><span>Bestellung</span></a>
                            </li>
                        </ul>
                        <!--/.orderStep end-->
                    </div>
                    <div class="w100 clearfix">
                        <div class="row userInfo">
                            <div class="col-lg-12">
                                <h2 class="block-title-2"> Versandtart </h2>

                                <p>Bitte wählen Sie die gewünschte Versandart für diese Bestellung aus.</p>
                                <hr>
                            </div>
                            <form action="/account/checkout/step4" method="get" name="frmSurvey">
                            <div class="col-xs-12 col-sm-12">
                                <div class="form-group col-lg-12 col-sm-12 col-md-12 -col-xs-12">
                                        <table style="width:100%" class="table-bordered table tablelook2">
                                            <tbody>
                                            <tr>
                                                <td> Auswahl</td>
                                                <td>Versandart</td>
                                                <td>Lieferzeit</td>
                                                <td>Preis</td>
                                            </tr>
                                            {% if customer.deliveryTerm == 2 %}
                                            <tr>
                                                <td style="padding-right: 10px;">
                                                    <input type="radio" name="delKind" id="2"
                                                           value="2" checked> </td>
                                                <td> Frei Haus</td>
                                                <td>1-2 Werktage</td>
                                                <td>0,00 €</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-right: 10px;">
                                                    <input type="radio" name="delKind" id="0"
                                                           value="0" > </td>
                                                <td> UPS</td>
                                                <td>Nach Versand ca. 1-2 Werktage</td>
                                                <td>5,50 € zzgl. MwSt</td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td style="padding-right: 10px;">
                                                    <input type="radio" name="delKind" id="0"
                                                           value="0" checked> </td>
                                                <td> UPS</td>
                                                <td>Nach Versand ca. 1-2 Werktage</td>
                                                <td>5,50 € zzgl. MwSt</td>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <td style="padding-right: 10px;">
                                                    <input type="radio" name="delKind" id="1"
                                                           value="1"></td>
                                                <td>Abholung</td>
                                                <td>Mo-Do 8-17 Uhr, Fr 8-16 Uhr </td>
                                                <td>Kostenlos</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                                
                    <div class="cartFooter w100">
                        <div class="box-footer">
                            <div class="pull-left"><a class="btn btn-default" href="{{ path('orth_shop_checkout_step2', app.request.get('_route_params')|merge(app.request.query.all)) }}"> <i
                                    class="fa fa-arrow-left"></i> &nbsp; Zurück zur Lieferadresse </a></div>
                            <div class="pull-right"><button class="btn btn-primary btn-small " type="submit">
                                Zahlungsart &nbsp; <i class="fa fa-arrow-circle-right"></i> </button></div>
                        </div>
                    </div>
                    <!--/ cartFooter -->
                    <input hidden="hidden" name="inv" value="{{ app.request.get("inv") }}"/>
                    <input hidden="hidden" name="del" value="{{ app.request.get("del") }}"/>
                    </form>
                </div>
            </div>
            <!--/row end-->                    
        <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
            <div class="w100 cartMiniTable">
                <table id="cart-summary" class="std table">
                    <tbody>
                    <tr>
                        <td>Positionen (netto)</td>
                        <td class="price"><span id="jTotal3">{{cartSum|number_format(2, ',', '.')}}</span></td>
                    </tr>
                    <tr style="">
                        <td>Fracht</td>
                        <td class="price"><span class="success">{{freight|number_format(2, ',', '.')}} €</span></td>
                    </tr>
                    <tr class="cart-total-price ">
                        <td>Gesamt (exkl. MwSt)</td>
                        <td class="price">{{(cartSum+freight)|number_format(2, ',', '.')}} €</td>
                    </tr>
                    <tr>
                        <td>MwSt. 19%</td>
                        <td class="price" id="total-tax">{{((cartSum+freight)/100*19)|number_format(2, ',', '.')}} €</td>
                    </tr>
                    <tr>
                        <td>Gesamt inkl. MwSt.</td>
                        <td class=" site-color" id="total-price">{{((cartSum+freight)*1.19)|number_format(2, ',', '.')}} €</td>
                    </tr>
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!--  /cartMiniTable-->

        </div>
        <!--/rightSidebar-->
    </div>
    <!--/row-->

</div>
    <div style="clear:both"></div>
</div>
<!-- /main-container -->

<div class="gap"></div>
{% endblock %}
{% block js_special %}
<script src="/assets/js/uiTableFilter.js"></script>
{% endblock %}
